<!DOCTYPE html>
<html>
    <head>
        <title>home</title>

    </head>
    <body>
        <li><a href="/login">login</a></li>
        <li><a href="/signup">signup</a></li>
        <li><a href="/allreviews">allreviews</a></li>
      
    </body>
</html>