<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--
<style>
body {margin: 0;}
li{
    font-family: sans-serif;
}
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
    font-family: sans-serif;
}

}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}
</style>-->
</head>
<body>

<ul class="sidenav">
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="#my rates">my rates</a></li>
  <li><a href="#add rates">add rates</a></li>
  <li><a href="/logout?access_token=<%=accessToken %>">Log out</a></li>
</ul>
<!--==================================ratings=======================================-->
<h1>Hi <%= email %>.</h1>
<p>Your accessToken is: <%= accessToken %></p>
<div class="home">
<form action="/add-review" method="POST">
    cafe:
<select name="cafe" >
    <option value="Caffe Artigiano">Caffe Artigiano</option>
    <option value="Three Bees Coffee House">Three Bees Coffee House</option>
    <option value="Bel 12Cafe">Bel 12Cafe</option>
</select>
rating:<select name="rating" >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
<textarea name="comment" id="" cols="30" rows="10" placeholder="comment">
    Comment
</textarea>
<input type="text" name="mail"  value="<%= email %> "id="">
Time:
<select name="time">
    <option value="true">once</option>
    <option value="false">manytimes</option>
</select>
<input type="submit" value="Submit">

</form>



</div>
</body>
</html>
